
.container{
  display:flex;
  flex-direction: column;
  margin: 2.5rem;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 2.5rem;
}

.search input{
  width:320px;
}

.card {
  width: 100%;
}

p-card{
  cursor: pointer;
}

form{
  display: flex;
  flex-direction: row;
}

p-button{
  margin-left: 1rem
}
